.header {
    display: flex;
    position: relative;
    margin: 0 auto;
    justify-content: space-between;
    align-items: flex-end;
    padding: 28px 0 0 0;
    width: calc(100% - 48px * 2);
}

@media screen and (max-width: 768px) {
    .header {
        width: calc(100% - 24px * 2);
        padding: 16px 0 0 0;
    }
}