.lead__image {
    max-width: 984px;
    width: 100%;
    object-fit: cover;
    padding: 64px 0 8px 0;
    margin: 0 auto;
}

@media screen and (max-width: 1035px) {
    .lead__image {
        max-width: 928px;
        padding-top: 56px;
    }
}

@media screen and (max-width: 980px) {
    .lead__image {
        max-width: 785px;
    }
}

@media screen and (max-width: 880px) {
    .lead__image {
        max-width: 768px;
        padding: 40px 0 0 0;
    }
}

@media screen and (max-width: 767px) {
    .lead__image {
        max-width: 425px;
    }
}

@media screen and (max-width:425px) {
    .lead__image {
        max-width: 320px;
    }
}