 .cover {
     background-image: url(../../images/cover-trains.jpg);
     background-size: cover;
     background-repeat: no-repeat;
     box-sizing: border-box;
     position: relative;
     display: flex;
     flex-direction: column;
     align-items: center;
     justify-content: center;
     margin: 0 auto;
     max-width: 1184px;
     min-height: 740px;
 }

 .cover::before {
     content: '';
     background-color: #2A2C2F;
     opacity: 0.5;
     position: absolute;
     top: 0;
     right: 0;
     bottom: 0;
     left: 0;
     transition: 1s ease-in;
 }

 .cover:hover::before {
     opacity: 0.3;
 }

 /* 1024 */
 @media screen and (max-width: 1024px) {
     .cover {
         min-height: 640px;
     }
 }

 /* 768 */
 @media screen and (max-width: 768px) {
     .cover {
         min-height: 480px;
     }
 }

 /* 320 */
 @media screen and (max-width: 320px) {
     .cover {
         min-height: 200px;
     }
 }